@page "/"

@using ExpenseTracker.BlazorClient.Services;

@inject IAuthService authService;

@if (this.authService.IsLoggedIn)
{
    <h2>Hello, @this.authService.Username</h2>
}
else
{
    <h2>Please <a href="/login">login</a>! </h2>
}

